In [7]:
import mysql.connector
import os


# Source .env file
from dotenv import load_dotenv
load_dotenv()

passwordENV = os.environ.get('LOCAL_DB_PASSWORD')

# Connection configuration
configLocal = {
    'user': 'dan',
    'password': passwordENV,
    'host': 'localhost',
    'port': '3307',
    'database': 'main'
}
# Connect to MariaDB
connectionLocal = mysql.connector.connect(**configLocal)
cursor = connectionLocal.cursor()

In [8]:
# TODO DC: filter out non-english sources

qry = "SELECT id, datetime, newsource, headline, pagetitle, pageurl FROM main.headlines LIMIT 10000"

data = []
cursor.execute(qry)
for (id, datetime, newssource, headline, pagetitle, pageurl) in cursor:
  # print("{}, {}, {}, {}, {}, {}".format(
  #   id, datetime, newssource, headline, pagetitle, pageurl
  # ))
  
  # [str, str, datetime.datetime]
  data.append([
    str(headline),
    str(newssource),
    datetime,
  ])
  
cursor.close()

True

In [3]:
from Document import Document
from Corpus import Corpus

corpus = Corpus(data)

In [4]:
corpus.LDA(numTopics=50, passes=4)

In [5]:
corpus.toDataframe()

,raw,tokens,topic,date,source
0,Meta Platforms Inc (META) Stock Price & News,"[meta, platform, inc, meta, stock, price, news]",30,2022-06-14 17:51:42,www.google.com
1,Google Calendar: Get Organised on the App Store,"[google, calendar, get, organised, app, store]",19,2022-06-14 17:51:42,www.google.com
2,Daftar 20 Situs Judi Online Mpo Slot Gacor Dan...,"[daftar, 20, situs, judi, online, mpo, slot, g...",17,2022-06-14 17:51:42,www.google.com
3,Millions of iPhone owners could secure payout ...,"[million, iphone, owner, could, secure, payout...",49,2022-06-16 21:43:01,www.telegraph.co.uk
4,Sarah Stacey,"[sarah, stacey]",36,2022-06-16 21:43:01,www.telegraph.co.uk
...,...,...,...,...,...
9995,Putin responds to shirtless mockery by G7 leaders,"[putin, responds, shirtless, mockery, g7, leader]",25,2022-07-01 03:53:23,theaustralian.com.au
9996,China's Xi presides over muted Hong Kong hando...,"[china, xi, presides, muted, hong, kong, hando...",49,2022-07-01 03:53:23,theaustralian.com.au
9997,Leigh Sales emotional farewell in final 7.30 p...,"[leigh, sale, emotional, farewell, final, 730,...",43,2022-07-01 03:53:23,theaustralian.com.au
9998,Wimbledon: New Aussie No.1 Ajla Tomljanovic sh...,"[wimbledon, new, aussie, no1, ajla, tomljanovi...",32,2022-07-01 03:53:23,theaustralian.com.au
9999,A look inside chef Lennox Hastie's new Sydney bar,"[look, inside, chef, lennox, hasties, new, syd...",40,2022-07-01 03:53:23,theaustralian.com.au